<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora HC</title>
    <link rel="stylesheet" type="text/css" href="/css/Generar_Reporte.css">
    <script src="/js/Generar_Reporte.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://startbootstrap.com/templates/agency/font-awesome-4.1.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
</head>

<body id="page-top" class="index" data-pinterest-extension-installed="cr1.3.4">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <p class="navbar-brand" href="#page-top">Mi impacto ambiental</p>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden active">
                        <a href="#page-top"></a>
                    </li>
                    <li class="">
                        <a class="home" href="/"> Home </a>
                    </li>
                    <li>
                        <a class="page-scroll" href="./Login.html">Cerrar Sesión</a>
                    </li>
                </ul>
            </div>

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <br>
    <br>
    <br>
    
    <section id="team" class="bg-light-gray">
        <div class="form">
            <form class="" style="">

                <h2>Reportes</h2>

                <br>

                <h4>Desde</h4>

                <div class="field-wrap">
                    <label>
                    Tipo de Reporte<span class="req">*</span>
                    </label>
                    <br>
                    <br>
                      <select class ="select-css" id="tipo">
                        <option value="0">Seleccione el tipo</option>
                        <option value="COMPOSICION">Composición</option>
                        <option value="EVOLUCION">Evolción</option>
                        
                      </select>
                  </div>

                <div class="top-row">
    
                <div class="field-wrap">
                    <label>
                    Mes<span class="req">*</span>
                    </label>
                    <br>
                    <br>
                    <select class ="select-css" id="mesDesde">
                        <option value="0">Seleccione el mes</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
    
                    </select>
                </div>
    
                <div class="field-wrap">
                    <label>
                    Año<span class="req">*</span>
                    </label>
                    <br>
                    <br>
                    <select class ="select-css" id="añoDesde">
                        <option value="0">Seleccione el año</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
    
                    </select>
                </div>
            
                </div>

                <h4>Hasta</h4>

                <div class="top-row">
    
                <div class="field-wrap">
                    <label>
                    Mes<span class="req">*</span>
                    </label>
                    <br>
                    <br>
                    <select class ="select-css" id="mesHasta">
                        <option value="0">Seleccione el mes</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
    
                    </select>
                </div>
    
                <div class="field-wrap">
                    <label>
                    Año<span class="req">*</span>
                    </label>
                    <br>
                    <br>
                    <select class ="select-css" id="añoHasta">
                        <option value="0">Seleccione el año</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
    
                    </select>
                </div>
            
                </div>
                <br>
        
                    <button type="button" id="myBtn" onclick="generarReporte()" class="button button-back">Generar Reporte</button>
                 </form>
            </div>
            </div>
        </form>
        </div>
    </section>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
</body>

<footer class="footer-distributed">

    <div class="footer-right">
    
        <a href="https://github.com/AlejoLovallo/UTN-DS-2022-TP-ANUAL"><img src="/images/logo_github.jpeg"
        class="imagen_footer" alt="icon"></a>
    
    </div>
    
    <div class="footer-left">
    
        <p class="footer-links">
    
        <a href="#">Acerca de nosotros</a>
    
        <a href="#">Contacto</a>
        </p>
    
        <p>Diseño de Sistemas &copy; 2022</p>
    </div>

</footer>