<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Login</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel="stylesheet" href="../static/css/Login.css">

  <script src="../static/js/login.js"></script>

</head>

<body>

  <nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <p class="navbar-brand" href="/menu_inicio">Mi impacto ambiental</p>
      </div>
    </div>
  </nav>



  <!-- partial:index.partial.html -->
  <div class="form">

    <ul class="tab-group">
      <li class="tab"><a href="#signIn">Iniciar Sesión</a></li>
      <li class="tab"><a href="#signUpOrg">Registrar Organizacion</a></li>
      <li class="tab"><a href="#signUpMem">Registrar Miembro</a></li>
    </ul>

    <div class="tab-content">
      <div id="signIn">

        <form id="signin_form" method="POST" name="signin_form">

          <div class="field-wrap">
            <label name="user_sign_name">
              Nombre de Usuario <span class="req">*</span>
            </label>
            <br>
            <br>
            <input type="email" placeholder="example@gmail.com" required autocomplete="off" id="NombreUsuarioSignIn"
              name="user_sign_name" class="input-datos" />
          </div>

          <div class="field-wrap">
            <label name="user_sign_password">
              Contraseña<span class="req">*</span>
            </label>
            <br>
            <br>
            <input type="password" required autocomplete="off" id="PasswordSignIn" name="password"
              class="input-datos" />
          </div>

          <input type="submit" onclick="validateSignIn()" class="button button-back">Iniciar
          Sesión</input>
        </form>

      </div>

    </div>

    <div class="tab-content">
      <div id="signUpOrg">
        <br>
        <h1>¡Registrá tu Organización!</h1>

        <form id="org_form" method="post" name="org_form">
          <h2>Datos Organizacionales</h2>

          <div class="top-row">
            <div class="field-wrap">
              <label name="razon_social_org">
                Razón Social<span class="req">*</span>
              </label>
              <br>
              <br>
              <input type="text" placeholder="Empresa SA" required autocomplete="off" id="RazonSocial"
                name="razon_social_org">
            </div>

            <div class="field-wrap">
              <label name="cuit_org">
                Cuit<span class="req">*</span>
              </label>
              <br>
              <br>
              <input type="number" required autocomplete="off" id="Cuit" name="cuit_org">
            </div>
          </div>

          <div class="top-row">
            <div class="field-wrap">
              <label name="clasificacion_org">
                Clasificación<span class="req">*</span>
              </label>
              <br>
              <br>
              <select class="select-css" name="seleccionDeClasificacionOrg" id="ClasificacionOrg">
                <option value="0">Seleccione la clasificación</option>
                <option value="1">Ministerio</option>
                <option value="2">Universidad</option>
                <option value="3">Escuela</option>
                <option value="3">Empresa Sector Primario</option>
                <option value="3">Empresa Sector Secundario</option>
              </select>
            </div>

            <div class="field-wrap">
              <label name="tipo_org">
                Tipo de Organizacion<span class="req">*</span>
              </label>
              <br>
              <br>
              <select class="select-css" name="seleccionDeTipoOrg" id="TipoOrg">
                <option value="0">Seleccione el tipo</option>
                <option value="1">Gubernamental</option>
                <option value="2">ONG</option>
                <option value="3">Empresa</option>
                <option value="4">Institución</option>
              </select>
            </div>
          </div>

          <div class="top-row">

            <div class="field-wrap">
              <label name="localidad_org">
                Localidad <span class="req">*</span>
              </label>
              <br>
              <br>
              <input type="text" required autocomplete="off" id="LocalidadOrg" name="localidad_org"
                class="input-datos" />
            </div>
          </div>
          <br>

          <h2>Datos de usuario</h2>

          <div class="field-wrap">
            <label name="email_user_org">
              Email<span class="req">*</span>
            </label>
            <br>
            <br>
            <input type="email" placeholder="example@gmail.com" required autocomplete="off" id="EmailUserOrg"
              name="email_user_org" class="input-datos" />
          </div>

          <div class="field-wrap">
            <label name="name_user_org">
              Nombre de usuario<span class="req">*</span>
            </label>
            <br>
            <br>
            <input type="text" required autocomplete="off" id="NombreUsuarioOrg" name="name_user_org"
              class="input-datos" />
          </div>

          <div class="field-wrap">
            <label name="password_user_org">
              Ingrese una contraseña<span class="req">*</span>
            </label>
            <br>
            <br>
            <input type="password" required autocomplete="off" id="PasswordUserOrg" name="password_user_org"
              class="input-datos" />
          </div>

          <div class="field-wrap">
            <label name="password_repeat_user_org">
              Repita la contraseña<span class="req">*</span>
            </label>
            <br>
            <br>
            <input type="password" required autocomplete="off" id="PasswordRepeatUserOrg"
              name="password_repeat_user_org" class="input-datos" />
          </div>

          <button type="submit" id="btnRegistroOrg" class="button button-back"
            onclick="validateOrganizationCreation()">Registrarme</button>
      </div>
    </div>

    <div class="tab-content">
      <div id="signUpMem">
        <br>
        <h1>¡Registrate!</h1>

        <form id="member_form" method="post" name="member_form">

          <h2>Datos personales</h2>

          <div class="top-row">
            <div class="field-wrap">
              <label name="member_name">
                Nombre<span class="req">*</span>
              </label>
              <br>
              <br>
              <input type="text" required autocomplete="off" id="NombreMember" name="member_name">
            </div>

            <div class="field-wrap">
              <label name="member_surname">
                Apellido<span class="req">*</span>
              </label>
              <br>
              <br>
              <input type="text" required autocomplete="off" id="ApellidoMember" name="member_surname">
            </div>
          </div>

          <div class="top-row">
            <div class="field-wrap">
              <label name="member_birthdate">
                Fecha de nacimiento<span class="req">*</span>
              </label>
              <br>
              <br>
              <input type="date" required autocomplete="off" id="NacimientoMember" name="member_birthdate"
                class="input-datos" />
            </div>

            <div class="field-wrap">
              <label name="member_sex">
                Sexo<span class="req">*</span>
              </label>
              <br>
              <br>
              <select class="select-css" name="member_sex" id="SexoMember">
                <option value="0">Seleccione el sexo</option>
                <option value="1">Masculino</option>
                <option value="2">Femenino</option>
                <option value="3">No Binario</option>
              </select>
            </div>
          </div>

          <div class="top-row">
            <div class="field-wrap">
              <label name="member_city">
                Ciudad<span class="req">*</span>
              </label>
              <br>
              <br>
              <input type="text" required autocomplete="off" id="CiudadMember" name="member_city" class="input-datos" />
            </div>

            <div class="field-wrap">
              <label name="member_location">
                Localidad <span class="req">*</span>
              </label>
              <br>
              <br>
              <input type="text" required autocomplete="off" id="LocalidadMember" name="member_location"
                class="input-datos" />
            </div>
          </div>

          <h2>Datos de usuario</h2>

          <div class="field-wrap">
            <label name="member_email">
              Email<span class="req">*</span>
            </label>
            <br>
            <br>
            <input type="email" required autocomplete="off" id="EmailMember" name="member_email" class="input-datos" />
          </div>

          <div class="field-wrap">
            <label name="member_username">
              Nombre de usuario<span class="req">*</span>
            </label>
            <br>
            <br>
            <input type="text" required autocomplete="off" id="UsernameMember" name="member_username"
              class="input-datos" />
          </div>

          <div class="field-wrap">
            <label name="member_password">
              Ingrese una contraseña<span class="req">*</span>
            </label>
            <br>
            <br>
            <input type="password" required autocomplete="off" id="PasswordMember" name="member_password"
              class="input-datos" />
          </div>

          <div class="field-wrap">
            <label name="member_repeat_password">
              Repita la contraseña<span class="req">*</span>
            </label>
            <br>
            <br>
            <input type="password" required autocomplete="off" id="PasswordRepeatMember" name="member_repeat_password"
              class="input-datos" />
          </div>


          <button type="submit" id="myBtn" class="button button-back"
            onclick="validateRegisterMember()">Registrarme</button>

      </div>
    </div>

  </div>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="../static/js/welcome.js"></script>

</body>

<footer class="footer-distributed">

  <div class="footer-right">

    <a href="https://github.com/AlejoLovallo/UTN-DS-2022-TP-ANUAL"><img src="../images/logo_github.jpeg"
        class="imagen_footer" alt="icon"></a>

  </div>

  <div class="footer-left">

    <p class="footer-links">

      <a href="#">Acerca de nosotros</a>

      <a href="#">Contacto</a>
    </p>

    <p>Diseño de Sistemas &copy; 2022</p>
  </div>

</footer>

</html>