<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Impacto ambiental - Trayecto miembro</title>
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../static/css/Registro_Trayectos.css">
</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <a class="navbar-brand page-scroll" href="/menu_logueado">Impacto ambiental</a>
        </div>
    </nav>

    <!-- partial:index.partial.html -->
    <div class="form">

        <button type="submit" class="button button-back">VOLVER ATRAS</button>

        <div class="tab-content">
            <div>
                <br>
                <h3>Trayectos</h3>
                <form class="">
                    <div id="div1">

                        <table class="scroll" style="overflow-y:auto;">

                            <thead>
                            <th>Organizacion</th>
                            <th>Frecuencia semanal</th>
                            <th>Fecha inicio</th>
                            <th>Fecha fin</th>
                            </thead>

                            <tbody>
                                <!--Listar Trayectos-->
                                <tr>
                                    <td>Organizacion</td>
                                    <td>Frecuencia semana</td>
                                    <td>Fecha inicio</td>
                                    <td>Fecha fin</td>
                                </tr>
                            </tbody>


                        </table>
                        <br />
                        <button class="button button-add">
                            AGREGAR TRAYECTO
                        </button>

                    </div>
                </form>


            </div>

            <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>


        </div>
    </div>
</body>

</html>