        <form id="formularioTransportePublico">

            <h3>Datos del tramo</h3>
            <br>

            <h5>Estacion de salida</h5>
            <br>
            <div class="top-row">
                <div class="field-wrap">
                    <label>
                        Numero<span class="req">*</span>
                    </label>
                    <br>
                    <br>
                    <input type="text" required autocomplete="off" name="NumeroSalida"/>
                </div>
    
                <div class="field-wrap">
                    <label>
                        Nombre<span class="req">*</span>
                    </label>
                    <br>
                    <br>
                    <input type="text" required autocomplete="off" name="NombreSalida"/>
                </div>
            </div>
            <h5>Estacion de llegada</h5>
            <div class="top-row">
                <div class="field-wrap">
                    <label>
                        Numero<span class="req">*</span>
                    </label>
                    <br>
                    <br>
                    <input type="text" required autocomplete="off" name="NumeroLlegada"/>
                </div>
    
                <div class="field-wrap">
                    <label>
                        Nombre<span class="req">*</span>
                    </label>
                    <br>
                    <br>
                    <input type="text" required autocomplete="off" name="NombreLlegada"/>
                </div>
            </div>
            
            <br>
            <br>
            <div id="TransportePublico">

                <h5>Datos del transporte</h5>
                    <br>
                    <div class="top-row">
                        <div class="field-wrap">
                            <label>
                                Tipo transporte público<span class="req">*</span>
                            </label>
                            <br>
                            <br>
                            <select class ="select-css" name="TipoTransportePublico" onChange=changetextbox()>
                                <option value="0">Seleccione el tipo de transporte público</option>
                                <option value="1">Tren</option>
                                <option value="2">Colectivo</option>
                                <option value="3">Subte</option>
                            </select>
                        </div>
            
                        <div class="field-wrap">
                            <label>
                                Línea<span class="req">*</span>
                            </label>
                            <br>
                            <br>
                            <input type="text" required autocomplete="off" name="Linea"/>
                        </div>
                    </div>
            </div>
            <br>
            <br>
            <button type="submit" id="GuardarTramo" onclick="guardarTramo()"> Guardar Tramo </button>
            <button type="button" id="CancelarTramo" onclick="cancelarTramo()"> Cancelar Tramo </button>
        </form>