<form id="formularioVehiculoParticular"> 
    <h3>Datos del tramo</h3> 
    <br> 
    <h5>Lugar de salida</h5> 
    <br>
    <div class="top-row"> 
        <div class="field-wrap"> 
            <label> Tipo de dirección<span class="req">*</span> </label> 
            <br> 
            <br> 
            <select class ="select-css" name="TipoVehiculo" id="TipoVehiculo"> 
                <option value="0">Seleccione el tipo de dirección</option> 
                <option value="Vivienda">Vivienda</option> 
                <option value="Trabajo">Trabajo</option> 
                <option value="Otro">Otro</option> 
            </select> 
        </div>
    </div> 
    <div class="top-row"> 
        <div class="field-wrap"> 
            <label> Calle<span class="req">*</span> </label> 
            <br> 
            <br> 
            <input type="text" required autocomplete="off" name="CalleSalida"/> 
        </div> 
        <div class="field-wrap"> 
            <label> Altura<span class="req">*</span> </label>
            <br> 
            <br> 
            <input type="text" required autocomplete="off" name="AlturaSalida"/> 
        </div> 
    </div> 
    <div class="top-row"> 
        <div class="field-wrap"> 
            <label> Localidad<span class="req">*</span> </label> 
            <br> 
            <br> 
            <input type="text" required autocomplete="off" name="LocalidadSalida"/> 
        </div> 
        <div class="field-wrap"> 
            <label> Municipio<span class="req">*</span> </label> 
            <br> 
            <br> 
            <input type="text" required autocomplete="off" name="MunicipioSalida"/> 
        </div> 
    </div> 
    <div class="top-row"> 
        <div class="field-wrap"> 
            <label> Provincia<span class="req">*</span> </label> 
            <br> 
            <br> 
            <input type="text" required autocomplete="off" name="ProvinciaSalida"/> 
        </div> 
        <div class="field-wrap"> 
            <label> Pais<span class="req">*</span> </label> 
            <br> 
            <br> 
            <input type="text" required autocomplete="off" name="PaisSalida"/> 
        </div> 
    </div> 
    <h5>Lugar de llegada</h5> 
    <br>
    <div class="top-row"> 
        <div class="field-wrap"> 
            <label> Tipo de dirección<span class="req">*</span> </label> 
            <br> 
            <br> 
            <select class ="select-css" name="TipoVehiculo" id="TipoVehiculo"> 
                <option value="0">Seleccione el tipo de dirección</option> 
                <option value="Vivienda">Vivienda</option> 
                <option value="Trabajo">Trabajo</option> 
                <option value="Otro">Otro</option> 
            </select> 
        </div>
    </div> 
    <div class="top-row"> 
        <div class="field-wrap"> 
            <label> Calle<span class="req">*</span> </label> 
            <br> 
            <br> 
            <input type="text" required autocomplete="off" name="CalleLlegada"/> 
        </div> 
        <div class="field-wrap"> 
            <label> Altura<span class="req">*</span> </label> 
            <br> 
            <br> 
            <input type="text" required autocomplete="off" name="AlturaLlegada"/> 
        </div> 
    </div> 
    <div class="top-row"> 
        <div class="field-wrap"> 
            <label> Localidad<span class="req">*</span> </label> 
            <br> 
            <br> 
            <input type="text" required autocomplete="off" name="LocalidadLlegada"/> 
        </div> 
        <div class="field-wrap"> 
            <label> Municipio<span class="req">*</span> </label> 
            <br> 
            <br> 
            <input type="text" required autocomplete="off" name="MunicipioLlegada"/> 
        </div> 
    </div> 
    <div class="top-row"> 
        <div class="field-wrap"> 
            <label> Provincia<span class="req">*</span> </label> 
            <br> 
            <br> 
            <input type="text" required autocomplete="off" name="ProvinciaLlegada"/> 
        </div> 
        <div class="field-wrap"> 
            <label> Pais<span class="req">*</span> </label> 
            <br> 
            <br> 
            <input type="text" required autocomplete="off" name="PaisLlegada"/> 
        </div> 
    </div> 
    <h5>Datos del vehículo</h5> 
    <br> 
    <div id="AgregarVehiculoParticular"> 
        <br> 
        <div class="top-row"> 
            <div class="field-wrap"> 
                <label> Tipo vehículo<span class="req">*</span> </label> 
                <br> 
                <br> 
                <select class ="select-css" name="TipoVehiculo" id="TipoVehiculo"> 
                    <option value="0">Seleccione el tipo de vehículo</option> 
                    <option value="Moto">Moto</option> 
                    <option value="Auto">Auto</option> 
                    <option value="Camioneta">Camioneta</option> 
                    <option value="Uber">Uber</option> 
                    <option value="Cabify">Cabify</option> 
                    <option value="Remis">Remis</option> 
                    <option value="Taxi">Taxi</option> 
                    <option value="BiciPie">BiciPie</option> 
                </select> 
            </div> 
            <div class="field-wrap"> 
                <label> Tipo combustible<span class="req">*</span> </label> 
                <br> 
                <br> 
                <select class ="select-css" name="TipoCombustible" id="TipoCombustible"> 
                    <option value="0">Seleccione el tipo de combustible</option> 
                    <option value="GNC">GNC</option> 
                    <option value="Nafta">Nafta</option> 
                    <option value="Electrico">Electrico</option>
                    <option value="Gasoil">Gasoil</option> 
                    <option value="NoConsume">No Consume</option> 
                </select> 
            </div> 
        </div> 
        <div class="top-row">
            <div class="field-wrap"> 
                <label> Consumo por Km<span class="req">*</span> </label> 
                <br> 
                <br> 
                <input type="text" required autocomplete="off" name="ConsumoPorKm"/> 
            </div>  
            <div class="field-wrap"> 
                <label> Cantidad de pasajeros<span class="req">*</span> </label> 
                <br> 
                <br> 
                <input type="text" required autocomplete="off" name="CantidadPasajeros"/> 
            </div> 
        </div> 
        <br> 
        <br> 
    </div> 
    <br> 
    <br> 
    <button type="button" id="GuardarTramo" onclick="guardarTramoVehiculoParticular()"> Guardar Tramo </button> <button type="button" id="CancelarTramo" onclick="cancelarTramo()"> Cancelar Tramo </button> 
</form>